<launch>
    <param name="/use_sim_time" value="false" />

    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find zzx_run_description)/urdf/zzx_run_robot.urdf.xacro'" />
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(arg urdf_file)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find zzx_run_description)/config/fake_zzx_run_arbotix.yaml" command="load" />
        <param name="sim" value="true"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zzx_run_description)/config/zzx_run_arbotix.rviz" required="true" />
</launch>